<a href="https://colab.research.google.com/github/MazRadwan/data_science/blob/main/3_Calculations_with_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python and Data Analysis 3 - Calculations with Data

**Goal:** The goal of this project is to learn to calculate information from measured data.

**Description:** Data that is given to us is often considered *measured* - it is a real world observation that is recorded and put into a DataFrame. To turn this into information, we need to be able to use the data in calculations. This workshop covers how to create *calculated columns*, and how to calculate *summary statistics*.

In [ ]:
# A calculated column is a new column that is added to the dataframe based on existing column
amzn = pd.read_csv('AMZN.csv')
print(amzn.head)

<bound method NDFrame.head of             date       open       high        low      close    volume
0     1997-05-16     1.8650     1.9792     1.7083     1.7292  14700000
1     1997-05-19     1.7083     1.7708     1.6250     1.7083   6106800
2     1997-05-20     1.7292     1.7500     1.6358     1.6358   5467200
3     1997-05-21     1.6042     1.6458     1.3750     1.4275  18853200
4     1997-05-22     1.4375     1.4483     1.3125     1.3958  11776800
...          ...        ...        ...        ...        ...       ...
5802  2020-06-08  2500.2000  2530.0000  2487.3400  2524.0600   3957871
5803  2020-06-09  2529.4400  2626.4300  2525.0000  2600.8600   5175950
5804  2020-06-10  2645.0000  2722.3500  2626.2600  2647.4500   4913985
5805  2020-06-11  2603.5000  2671.3800  2536.2300  2557.9600   5753417
5806  2020-06-12  2601.2100  2621.4800  2503.3500  2545.0200   5436127

[5807 rows x 6 columns]>

## 3A: Calculated Columns

A calculated column is a column that is added to a DataFrame based on existing columns. In the following DataFrame, we have price information for Amazon's stock. It contains the columns `date`, `open`, `high`, `low`, `close`, and `volume`. We can create a calculated column in two ways.

In [ ]:
import pandas as pd
amzn = pd.read_csv('AMZN.csv')
print(amzn.head())

         date    open    high     low   close    volume
0  1997-05-16  1.8650  1.9792  1.7083  1.7292  14700000
1  1997-05-19  1.7083  1.7708  1.6250  1.7083   6106800
2  1997-05-20  1.7292  1.7500  1.6358  1.6358   5467200
3  1997-05-21  1.6042  1.6458  1.3750  1.4275  18853200
4  1997-05-22  1.4375  1.4483  1.3125  1.3958  11776800

In [ ]:
amzn['daily_change'] = amzn['open'] - amzn['close']
amzn.head()

         date    open    high     low   close    volume  daily_change
0  1997-05-16  1.8650  1.9792  1.7083  1.7292  14700000        0.1358
1  1997-05-19  1.7083  1.7708  1.6250  1.7083   6106800        0.0000
2  1997-05-20  1.7292  1.7500  1.6358  1.6358   5467200        0.0934
3  1997-05-21  1.6042  1.6458  1.3750  1.4275  18853200        0.1767
4  1997-05-22  1.4375  1.4483  1.3125  1.3958  11776800        0.0417

### Calculations Across Two Columns

Frequently, we want to be able to carry out mathematical operations between two or more columns. The syntax is quite intuitive. For example, we might want to keep track of the daily gains/losses. This can be calculated by subtracting the close price from the opening price: `open - close`.

In [ ]:
amzn['daily_change'] = amzn['open'] - amzn['close']
print(amzn.head())

         date    open    high     low   close    volume  daily_change
0  1997-05-16  1.8650  1.9792  1.7083  1.7292  14700000        0.1358
1  1997-05-19  1.7083  1.7708  1.6250  1.7083   6106800        0.0000
2  1997-05-20  1.7292  1.7500  1.6358  1.6358   5467200        0.0934
3  1997-05-21  1.6042  1.6458  1.3750  1.4275  18853200        0.1767
4  1997-05-22  1.4375  1.4483  1.3125  1.3958  11776800        0.0417

A similar syntax can be used for other operations, including multiplication (`*`), division (`/`), addition (`+`) and exponents (`**`). As another example, perhaps we want an approximation of value of trades executed on a particular day by multiplying an average price by the volume. To get an estimate of average price, we will use `(open + high + low + close) / 4`. The final formula is `((open + high + low + close) / 4) * volume)`.

In [ ]:
amzn['daily_value'] = (amzn['open'] + amzn['high'] + amzn['low'] + amzn['close'])/4 * amzn['volume']
print(amzn.head())

         date    open    high     low   close    volume  daily_change  \
0  1997-05-16  1.8650  1.9792  1.7083  1.7292  14700000        0.1358
1  1997-05-19  1.7083  1.7708  1.6250  1.7083   6106800        0.0000
2  1997-05-20  1.7292  1.7500  1.6358  1.6358   5467200        0.0934
3  1997-05-21  1.6042  1.6458  1.3750  1.4275  18853200        0.1767
4  1997-05-22  1.4375  1.4483  1.3125  1.3958  11776800        0.0417

   daily_value
0  26760247.50
1  10400491.08
2   9226993.44
3  28527248.25
4  16470149.22

In [ ]:
amzn = amzn.drop(columns=['daily_change']) # Removes the 'daily_change' column we created earlier
amzn['daily_value'] = ((amzn['open'] + amzn['high'] + amzn['low'] + amzn['close']) / 4) * amzn['volume']
print(amzn.head())

         date    open    high     low   close    volume  daily_value
0  1997-05-16  1.8650  1.9792  1.7083  1.7292  14700000  26760247.50
1  1997-05-19  1.7083  1.7708  1.6250  1.7083   6106800  10400491.08
2  1997-05-20  1.7292  1.7500  1.6358  1.6358   5467200   9226993.44
3  1997-05-21  1.6042  1.6458  1.3750  1.4275  18853200  28527248.25
4  1997-05-22  1.4375  1.4483  1.3125  1.3958  11776800  16470149.22

**Challenges**:
 - Calculate the difference between the `high` and `low` columns
 - Return the higher value between the `open` and `close` columns (hint: look into the `max` function)
 - Return the `close` price as a percentage of the original `close` price (useful when comparing the growth of different stocks)

In [ ]:
# calculat the value between the open and close function
print('High and low difference: ', amzn['high'] - amzn['low'] , sep='\n', end='\n\n')

# Note the we have to do the mamz across the two columns via axis=1 instead
# of all rows
print('Open close max:' , amzn[['open', 'close']].max(axis=1), sep='\n', end='\n\n')

close_growth = amzn['close'].iloc[-1] / amzn['close'].iloc[0]
print('Close percentage growth:', f"{close_growth * 100:.2f}%")

High and low difference:
0         0.2709
1         0.1458
2         0.1142
3         0.2708
4         0.1358
          ...
5802     42.6600
5803    101.4300
5804     96.0900
5805    135.1500
5806    118.1300
Length: 5807, dtype: float64

Open close max:
0          1.8650
1          1.7083
2          1.7292
3          1.6042
4          1.4375
          ...
5802    2524.0600
5803    2600.8600
5804    2647.4500
5805    2603.5000
5806    2601.2100
Length: 5807, dtype: float64

Close percentage growth: 147179.04%

In [ ]:
print('High low difference:', amzn['high'] - amzn['low'], sep='\n', end='\n\n')

# Note that we have to do the max across the two columns via axis=1 instead of
# across all rows
print('Open close max:', amzn[['open', 'close']].max(axis=1), sep='\n', end='\n\n')

close_growth = amzn['close'].iloc[-1] / amzn['close'].iloc[0]
print('Close percentage growth:', f"{close_growth * 100:.2f}%")

High low difference:
0         0.2709
1         0.1458
2         0.1142
3         0.2708
4         0.1358
          ...
5802     42.6600
5803    101.4300
5804     96.0900
5805    135.1500
5806    118.1300
Length: 5807, dtype: float64

Open close max:
0          1.8650
1          1.7083
2          1.7292
3          1.6042
4          1.4375
          ...
5802    2524.0600
5803    2600.8600
5804    2647.4500
5805    2603.5000
5806    2601.2100
Length: 5807, dtype: float64

Close percentage growth: 147179.04%

In [ ]:
# Operations on a column - There is another way to carry out on a calulations
# on a column or an entire datafram and it applies to each item. This
# is conventient when the opereation we want to perform for each item is quite
# complex. Below, we have a function `change_data` tha takes a date in the form
# `YYYY-MM-DD` as a string and outputs it in the form  `Month Day, Year`


def change_date(date):
  "convert the date from YYYY-MM-DD to Month Day, Year"
  year = date[0:4]
  month = date[5:7]
  months = ["January", "February", "March", "April", "May", "June", "July",
              "August", "September", "October", "November", "December"]
  month_english = months[int(month) - 1]
  day = date[-2:]
  return f'{month_english} {day}, {year}'


print("1997-05-16", "May 5, 1997")
print(change_date("1997-05-16"))


# Because the operation is quite complex, we create a new function for it and
# now we just need to apply `change_date` to our `date` column

amzn['date'] = amzn['date'].apply(change_date)
amzn.head()

1997-05-16 May 5, 1997
May 16, 1997

,date,open,high,low,close,volume,daily_change,daily_value
0,"May 16, 1997",1.8650,1.9792,1.7083,1.7292,14700000,0.1358,26760247.50
1,"May 19, 1997",1.7083,1.7708,1.6250,1.7083,6106800,0.0000,10400491.08
2,"May 20, 1997",1.7292,1.7500,1.6358,1.6358,5467200,0.0934,9226993.44
3,"May 21, 1997",1.6042,1.6458,1.3750,1.4275,18853200,0.1767,28527248.25
4,"May 22, 1997",1.4375,1.4483,1.3125,1.3958,11776800,0.0417,16470149.22

### Operations on a Column

There is another way to carry out calculations on a column, but it can easily be used for other operations too. The `apply` function takes a column or entire DataFrame and applies a function to each item. This is convenient when the operation we want to perform for each item is quite complex. Below, we have a function `change_date` that takes a date in the form `YYYY-MM-DD` as a string, and outputs it in the form `Month Day, Year`.

In [ ]:
def change_date(original_date):
    year = original_date[0:4]    # Get the first four characters in the string
    month = original_date[5:7]   # Get the month from the string
    months = ["January", "February", "March", "April", "May", "June", "July",
              "August", "September", "October", "November", "December"]
    month_name = months[int(month) - 1] # e.g. int('01') - 1 == 0 giving January
    day = original_date[-2:]    # Get the last two characters in the string

    return month_name + " " + day + ", " + year

print(change_date(amzn['date'][0]))

May 16, 1997

Because this operation is quite complex, we created a new function for it, and now just need to `apply` `change_date` to our `date` column.

In [ ]:
amzn['date'] = amzn['date'].apply(change_date)
print(amzn.head())

           date    open    high     low   close    volume  daily_value
0  May 16, 1997  1.8650  1.9792  1.7083  1.7292  14700000  26760247.50
1  May 19, 1997  1.7083  1.7708  1.6250  1.7083   6106800  10400491.08
2  May 20, 1997  1.7292  1.7500  1.6358  1.6358   5467200   9226993.44
3  May 21, 1997  1.6042  1.6458  1.3750  1.4275  18853200  28527248.25
4  May 22, 1997  1.4375  1.4483  1.3125  1.3958  11776800  16470149.22

In [ ]:
# apply function takes a column or the entire dataframe and applies a function to
# each column

def volume_estimate(volume):
  return 'high' if volume > 1000000 else 'low'

amzn['volume_estimate'] = amzn['volume'].apply(estimate_volume)
print(amzn)

               date       open       high        low      close    volume  \
0      May 16, 1997     1.8650     1.9792     1.7083     1.7292  14700000
1      May 19, 1997     1.7083     1.7708     1.6250     1.7083   6106800
2      May 20, 1997     1.7292     1.7500     1.6358     1.6358   5467200
3      May 21, 1997     1.6042     1.6458     1.3750     1.4275  18853200
4      May 22, 1997     1.4375     1.4483     1.3125     1.3958  11776800
...             ...        ...        ...        ...        ...       ...
5802  June 08, 2020  2500.2000  2530.0000  2487.3400  2524.0600   3957871
5803  June 09, 2020  2529.4400  2626.4300  2525.0000  2600.8600   5175950
5804  June 10, 2020  2645.0000  2722.3500  2626.2600  2647.4500   4913985
5805  June 11, 2020  2603.5000  2671.3800  2536.2300  2557.9600   5753417
5806  June 12, 2020  2601.2100  2621.4800  2503.3500  2545.0200   5436127

      daily_change   daily_value volume_estimate
0           0.1358  2.676025e+07            high
1           0.0000  1.040049e+07             low
2           0.0934  9.226993e+06             low
3           0.1767  2.852725e+07            high
4           0.0417  1.647015e+07            high
...            ...           ...             ...
5802      -23.8600  9.935839e+09             low
5803      -71.4200  1.330443e+10             low
5804       -2.4500  1.307250e+10             low
5805       45.5400  1.491440e+10             low
5806       56.1900  1.395870e+10             low

[5807 rows x 9 columns]

Ultimately, `apply` allows us to carry out more complex operations on a column, and *abstract* their functionality into helper functions.

**Challenge:** create a new `volume_estimate` column by apply a function to the `volume` column which replaces values greater than 10000000 with `'high'` and everything else with `'low'`.

In [ ]:
def estimate_volume(volume):
  return 'high' if volume > 10000000 else 'low'

amzn['volume_estimate'] = amzn['volume'].apply(estimate_volume)
print(amz

               date       open       high        low      close    volume  \
0      May 16, 1997     1.8650     1.9792     1.7083     1.7292  14700000
1      May 19, 1997     1.7083     1.7708     1.6250     1.7083   6106800
2      May 20, 1997     1.7292     1.7500     1.6358     1.6358   5467200
3      May 21, 1997     1.6042     1.6458     1.3750     1.4275  18853200
4      May 22, 1997     1.4375     1.4483     1.3125     1.3958  11776800
...             ...        ...        ...        ...        ...       ...
5802  June 08, 2020  2500.2000  2530.0000  2487.3400  2524.0600   3957871
5803  June 09, 2020  2529.4400  2626.4300  2525.0000  2600.8600   5175950
5804  June 10, 2020  2645.0000  2722.3500  2626.2600  2647.4500   4913985
5805  June 11, 2020  2603.5000  2671.3800  2536.2300  2557.9600   5753417
5806  June 12, 2020  2601.2100  2621.4800  2503.3500  2545.0200   5436127

      daily_change   daily_value volume_estimate
0           0.1358  2.676025e+07            high
1           0.0000  1.040049e+07             low
2           0.0934  9.226993e+06             low
3           0.1767  2.852725e+07            high
4           0.0417  1.647015e+07            high
...            ...           ...             ...
5802      -23.8600  9.935839e+09             low
5803      -71.4200  1.330443e+10             low
5804       -2.4500  1.307250e+10             low
5805       45.5400  1.491440e+10             low
5806       56.1900  1.395870e+10             low

[5807 rows x 9 columns]

## 3B: Summary Statistics

Previously, we carried out operations to fill each row in a new or existing column with a calculated value. Now we turn our attention to *summary statistics*. These aggregate calculations accross multiple rows within the same column. There are many different types of summary statistics, but common ones are:
 - `size`: Counts the number of rows in the given column
 - `count`: Counts the number of rows, excluding NaNs, in the given column
 - `sum`: Calculates the sum of the values in the given column
 - `min` and `max`: Calculates the minimum or maximum value in the given column
 - `mean`, `median`, and `mode`: Calculates the average value in the given column
 - `std`: Calculates the standard deviation in the given column
 - `describe`: Many statistics at once

 Lets look at a few examples:

In [ ]:
# get the mean (average)
amzn['close'].mean()

357.8692016015154

In [ ]:
#get the min
amzn['close'].min()

1.3958

In [ ]:
# standard deviation
amzn['close'].std()

553.5385593377746

In [ ]:
# get the median value across all rows
amzn[['high', 'low']].median()

high    84.47
low     81.00
dtype: float64

In [ ]:
# describe
amzn['close'].describe()

count    5807.000000
mean      357.869202
std       553.538559
min         1.395800
25%        37.835000
50%        82.700000
75%       352.152000
max      2647.450000
Name: close, dtype: float64

In [ ]:
# info -- good for checking if there any missing values
amzn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5807 entries, 0 to 5806
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             5807 non-null   object
 1   open             5807 non-null   float64
 2   high             5807 non-null   float64
 3   low              5807 non-null   float64
 4   close            5807 non-null   float64
 5   volume           5807 non-null   int64
 6   daily_change     5807 non-null   float64
 7   daily_value      5807 non-null   float64
 8   volume_estimate  5807 non-null   object
dtypes: float64(6), int64(1), object(2)
memory usage: 408.4+ KB

Get the mean close price in the `amzn` DataFrame.

In [ ]:
amzn = pd.read_csv('AMZN.csv')
mean_close = amzn['close'].mean()
print("Mean Close Price: " + str(mean_close))

Mean Close Price: 357.8692016015154

Find the highest and lowest close price.

In [ ]:
highest_close = amzn['close'].max()
print("Highest Close Price: " + str(highest_close))

lowest_close = amzn['close'].min()
print("Lowest Close Price: " + str(lowest_close))

Highest Close Price: 2647.45
Lowest Close Price: 1.3958

Find the median value for both the `high` and `low` column. We can calculate summary statistics on more than one column by passing a list of columns.

In [ ]:
median_value = amzn[['high', 'low']].median()
print(median_value)

high    84.47
low     81.00
dtype: float64

Describe the close prices.

In [ ]:
described = amzn['close'].describe()
print(described)

count    5807.000000
mean      357.869202
std       553.538559
min         1.395800
25%        37.835000
50%        82.700000
75%       352.152000
max      2647.450000
Name: close, dtype: float64

In [ ]:
(amzn['high'] - amzn['low']).max()

170.74

In [ ]:
stock_names = ["MSFT", 'AAPL', 'AMZN', 'GOOG']

df = pd.DataFrame()
for stock_name in stock_names:
  stock_df = pd.read_csv(f'{stock_name}.csv')
  stock_df['name'] = stock_name
  df = pd.concat([df, stock_df], ignore_index= True)
  print(df)

            date      open      high       low     close      volume  name
0     1986-03-13    0.0885    0.1016    0.0885    0.0972  1031788800  MSFT
1     1986-03-14    0.0972    0.1024    0.0972    0.1007   308160000  MSFT
2     1986-03-17    0.1007    0.1033    0.1007    0.1024   133171200  MSFT
3     1986-03-18    0.1024    0.1033    0.0990    0.0998    67766400  MSFT
4     1986-03-19    0.0998    0.1007    0.0972    0.0981    47894400  MSFT
...          ...       ...       ...       ...       ...         ...   ...
8629  2020-06-08  185.9400  188.5500  184.4400  188.3600    33123035  MSFT
8630  2020-06-09  188.0000  190.7000  187.2605  189.8000    29783916  MSFT
8631  2020-06-10  191.1250  198.5200  191.0100  196.8400    43568260  MSFT
8632  2020-06-11  193.1300  195.7600  186.0700  186.2700    52645278  MSFT
8633  2020-06-12  190.5400  191.7200  185.1800  187.7400    43373587  MSFT

[8634 rows x 7 columns]
             date      open      high       low     close      volume  name
0      1986-03-13    0.0885    0.1016    0.0885    0.0972  1031788800  MSFT
1      1986-03-14    0.0972    0.1024    0.0972    0.1007   308160000  MSFT
2      1986-03-17    0.1007    0.1033    0.1007    0.1024   133171200  MSFT
3      1986-03-18    0.1024    0.1033    0.0990    0.0998    67766400  MSFT
4      1986-03-19    0.0998    0.1007    0.0972    0.0981    47894400  MSFT
...           ...       ...       ...       ...       ...         ...   ...
18588  2020-06-08  330.2500  333.6000  327.3200  333.4600    23851975  AAPL
18589  2020-06-09  332.1400  345.6100  332.0100  343.9900    36928091  AAPL
18590  2020-06-10  347.9000  354.7700  346.0900  352.8400    41355786  AAPL
18591  2020-06-11  349.3100  351.0600  335.4800  335.9000    49567675  AAPL
18592  2020-06-12  344.7200  347.8000  334.2233  338.8000    50036513  AAPL

[18593 rows x 7 columns]
             date       open       high        low      close      volume  \
0      1986-03-13     0.0885     0.1016     0.0885     0.0972  1031788800
1      1986-03-14     0.0972     0.1024     0.0972     0.1007   308160000
2      1986-03-17     0.1007     0.1033     0.1007     0.1024   133171200
3      1986-03-18     0.1024     0.1033     0.0990     0.0998    67766400
4      1986-03-19     0.0998     0.1007     0.0972     0.0981    47894400
...           ...        ...        ...        ...        ...         ...
24395  2020-06-08  2500.2000  2530.0000  2487.3400  2524.0600     3957871
24396  2020-06-09  2529.4400  2626.4300  2525.0000  2600.8600     5175950
24397  2020-06-10  2645.0000  2722.3500  2626.2600  2647.4500     4913985
24398  2020-06-11  2603.5000  2671.3800  2536.2300  2557.9600     5753417
24399  2020-06-12  2601.2100  2621.4800  2503.3500  2545.0200     5436127

       name
0      MSFT
1      MSFT
2      MSFT
3      MSFT
4      MSFT
...     ...
24395  AMZN
24396  AMZN
24397  AMZN
24398  AMZN
24399  AMZN

[24400 rows x 7 columns]
             date       open       high        low      close      volume  \
0      1986-03-13     0.0885     0.1016     0.0885     0.0972  1031788800
1      1986-03-14     0.0972     0.1024     0.0972     0.1007   308160000
2      1986-03-17     0.1007     0.1033     0.1007     0.1024   133171200
3      1986-03-18     0.1024     0.1033     0.0990     0.0998    67766400
4      1986-03-19     0.0998     0.1007     0.0972     0.0981    47894400
...           ...        ...        ...        ...        ...         ...
25960  2020-06-08  1422.3400  1447.9900  1422.3400  1446.6100     1401827
25961  2020-06-09  1445.3600  1468.0000  1443.2100  1456.1600     1409249
25962  2020-06-10  1459.5400  1474.2600  1456.2700  1465.8500     1521378
25963  2020-06-11  1442.4800  1454.4700  1402.0000  1403.8400     1983710
25964  2020-06-12  1428.4900  1437.0000  1386.0200  1413.1800     1946367

       name
0      MSFT
1      MSFT
2      MSFT
3      MSFT
4      MSFT
...     ...
25960  GOOG
25961  GOOG
25962  GOOG
25963  GOOG
25964  GOOG

[25965 rows x 7 columns]

In [ ]:
stocks = df.groupby('name')

for stock in stocks.groups.keys():
  stock_df = stocks.get_group(stock)
  avg_vol = stock_df['volume'].mean()
  print(stock + 'Avg Trading volume ' + str(avg_vol))
  print(stock_df)

AAPLAvg Trading volume 85488428.64624962
             date      open      high       low     close     volume  name
8634   1980-12-12    0.5134    0.5155    0.5134    0.5134  117258400  AAPL
8635   1980-12-15    0.4889    0.4889    0.4866    0.4866   43971200  AAPL
8636   1980-12-16    0.4530    0.4530    0.4509    0.4509   26432000  AAPL
8637   1980-12-17    0.4620    0.4643    0.4620    0.4620   21610400  AAPL
8638   1980-12-18    0.4755    0.4777    0.4755    0.4755   18362400  AAPL
...           ...       ...       ...       ...       ...        ...   ...
18588  2020-06-08  330.2500  333.6000  327.3200  333.4600   23851975  AAPL
18589  2020-06-09  332.1400  345.6100  332.0100  343.9900   36928091  AAPL
18590  2020-06-10  347.9000  354.7700  346.0900  352.8400   41355786  AAPL
18591  2020-06-11  349.3100  351.0600  335.4800  335.9000   49567675  AAPL
18592  2020-06-12  344.7200  347.8000  334.2233  338.8000   50036513  AAPL

[9959 rows x 7 columns]
AMZNAvg Trading volume 7512299.565696573
             date       open       high        low      close    volume  name
18593  1997-05-16     1.8650     1.9792     1.7083     1.7292  14700000  AMZN
18594  1997-05-19     1.7083     1.7708     1.6250     1.7083   6106800  AMZN
18595  1997-05-20     1.7292     1.7500     1.6358     1.6358   5467200  AMZN
18596  1997-05-21     1.6042     1.6458     1.3750     1.4275  18853200  AMZN
18597  1997-05-22     1.4375     1.4483     1.3125     1.3958  11776800  AMZN
...           ...        ...        ...        ...        ...       ...   ...
24395  2020-06-08  2500.2000  2530.0000  2487.3400  2524.0600   3957871  AMZN
24396  2020-06-09  2529.4400  2626.4300  2525.0000  2600.8600   5175950  AMZN
24397  2020-06-10  2645.0000  2722.3500  2626.2600  2647.4500   4913985  AMZN
24398  2020-06-11  2603.5000  2671.3800  2536.2300  2557.9600   5753417  AMZN
24399  2020-06-12  2601.2100  2621.4800  2503.3500  2545.0200   5436127  AMZN

[5807 rows x 7 columns]
GOOGAvg Trading volume 1753946.9469648562
             date      open     high      low    close   volume  name
24400  2014-03-27   568.000   568.00   552.92   558.46    13100  GOOG
24401  2014-03-28   561.200   566.43   558.67   559.99    41100  GOOG
24402  2014-03-31   566.890   567.00   556.93   556.97    10800  GOOG
24403  2014-04-01   558.710   568.45   558.71   567.16     7900  GOOG
24404  2014-04-02   565.106   604.83   562.19   567.00   146700  GOOG
...           ...       ...      ...      ...      ...      ...   ...
25960  2020-06-08  1422.340  1447.99  1422.34  1446.61  1401827  GOOG
25961  2020-06-09  1445.360  1468.00  1443.21  1456.16  1409249  GOOG
25962  2020-06-10  1459.540  1474.26  1456.27  1465.85  1521378  GOOG
25963  2020-06-11  1442.480  1454.47  1402.00  1403.84  1983710  GOOG
25964  2020-06-12  1428.490  1437.00  1386.02  1413.18  1946367  GOOG

[1565 rows x 7 columns]
MSFTAvg Trading volume 60234781.231410705
            date      open      high       low     close      volume  name
0     1986-03-13    0.0885    0.1016    0.0885    0.0972  1031788800  MSFT
1     1986-03-14    0.0972    0.1024    0.0972    0.1007   308160000  MSFT
2     1986-03-17    0.1007    0.1033    0.1007    0.1024   133171200  MSFT
3     1986-03-18    0.1024    0.1033    0.0990    0.0998    67766400  MSFT
4     1986-03-19    0.0998    0.1007    0.0972    0.0981    47894400  MSFT
...          ...       ...       ...       ...       ...         ...   ...
8629  2020-06-08  185.9400  188.5500  184.4400  188.3600    33123035  MSFT
8630  2020-06-09  188.0000  190.7000  187.2605  189.8000    29783916  MSFT
8631  2020-06-10  191.1250  198.5200  191.0100  196.8400    43568260  MSFT
8632  2020-06-11  193.1300  195.7600  186.0700  186.2700    52645278  MSFT
8633  2020-06-12  190.5400  191.7200  185.1800  187.7400    43373587  MSFT

[8634 rows x 7 columns]

### Summary Statistics by Group

If we have data from multiple categories in the same DataFrame, we can split it into separate DataFrames and then calculate the summary statistics. Lets look at the DataFrame we create before, with stock prices for Microsoft, Amazon, Google, and Apple.

In [ ]:
stock_names = ['MSFT', 'AAPL', 'AMZN', 'GOOG']

df = pd.DataFrame()
for stock_name in stock_names:
  stock_df = pd.read_csv(f'{stock_name}.csv')
  stock_df['name'] = stock_name
  df = pd.concat([df, stock_df], ignore_index = True)
print(df)

             date       open       high        low      close      volume  \
0      1986-03-13     0.0885     0.1016     0.0885     0.0972  1031788800
1      1986-03-14     0.0972     0.1024     0.0972     0.1007   308160000
2      1986-03-17     0.1007     0.1033     0.1007     0.1024   133171200
3      1986-03-18     0.1024     0.1033     0.0990     0.0998    67766400
4      1986-03-19     0.0998     0.1007     0.0972     0.0981    47894400
...           ...        ...        ...        ...        ...         ...
25960  2020-06-08  1422.3400  1447.9900  1422.3400  1446.6100     1401827
25961  2020-06-09  1445.3600  1468.0000  1443.2100  1456.1600     1409249
25962  2020-06-10  1459.5400  1474.2600  1456.2700  1465.8500     1521378
25963  2020-06-11  1442.4800  1454.4700  1402.0000  1403.8400     1983710
25964  2020-06-12  1428.4900  1437.0000  1386.0200  1413.1800     1946367

       name
0      MSFT
1      MSFT
2      MSFT
3      MSFT
4      MSFT
...     ...
25960  GOOG
25961  GOOG
25962  GOOG
25963  GOOG
25964  GOOG

[25965 rows x 7 columns]

In [ ]:
stock_names = ['MSFT', 'AAPL', 'AMZN', 'GOOG']

df = pd.DataFrame()
for stock_name in stock_names:
    stock_df = pd.read_csv(f'{stock_name}.csv')
    stock_df['name'] = stock_name
    df = pd.concat([df, stock_df], ignore_index=True)
print(df)

             date       open       high        low      close      volume  \
0      1986-03-13     0.0885     0.1016     0.0885     0.0972  1031788800
1      1986-03-14     0.0972     0.1024     0.0972     0.1007   308160000
2      1986-03-17     0.1007     0.1033     0.1007     0.1024   133171200
3      1986-03-18     0.1024     0.1033     0.0990     0.0998    67766400
4      1986-03-19     0.0998     0.1007     0.0972     0.0981    47894400
...           ...        ...        ...        ...        ...         ...
25960  2020-06-08  1422.3400  1447.9900  1422.3400  1446.6100     1401827
25961  2020-06-09  1445.3600  1468.0000  1443.2100  1456.1600     1409249
25962  2020-06-10  1459.5400  1474.2600  1456.2700  1465.8500     1521378
25963  2020-06-11  1442.4800  1454.4700  1402.0000  1403.8400     1983710
25964  2020-06-12  1428.4900  1437.0000  1386.0200  1413.1800     1946367

       name
0      MSFT
1      MSFT
2      MSFT
3      MSFT
4      MSFT
...     ...
25960  GOOG
25961  GOOG
25962  GOOG
25963  GOOG
25964  GOOG

[25965 rows x 7 columns]

Combining our knowledge of the `groupby` function with our knowledge of summary statistics, we can do the following:

In [ ]:
stocks = df.groupby('name')
for stock in stocks.groups.keys():
  stock_df = stocks.get_group(stock)
  avg_vol = stock_df['volume'].mean()
  print(stock + "Avg Trading Volume:" + str(avg_vol))

AAPLAvg Trading Volume:85488428.64624962
AMZNAvg Trading Volume:7512299.565696573
GOOGAvg Trading Volume:1753946.9469648562
MSFTAvg Trading Volume:60234781.231410705

In [ ]:

stocks = df.groupby('name')
for stock in stocks.groups.keys():
    stock_df = stocks.get_group(stock)
    avg_vol = stock_df['volume'].mean()
    print(stock + " Avg Trading Volume: " + str(avg_vol))

AAPL Avg Trading Volume: 85488428.64624962
AMZN Avg Trading Volume: 7512299.565696573
GOOG Avg Trading Volume: 1753946.9469648562
MSFT Avg Trading Volume: 60234781.231410705

Even more simply, we can do `grouped-object['name-of-col'].summary-statistic()`.

In [ ]:
stocks['volume'].mean()

name
AAPL    8.548843e+07
AMZN    7.512300e+06
GOOG    1.753947e+06
MSFT    6.023478e+07
Name: volume, dtype: float64

In [ ]:
print(stocks['volume'].mean())

name
AAPL    8.548843e+07
AMZN    7.512300e+06
GOOG    1.753947e+06
MSFT    6.023478e+07
Name: volume, dtype: float64

The key takeaway is that Pandas allows us to easily calculate columns, operate on existing columns, and create summary statistics for columns and groups.

**Challenge:** Find the greatest average close price across all four stocks and print out the stock along with it's average close.

In [ ]:
avg_close = stocks['close'].mean()
greatest_stock = avg_close.idxmax()
print(greatest_stock, avg_close[greatest_stock])

GOOG 900.2986702236421

In [ ]:
avg_close = stocks['close'].mean()
greatest_stock = avg_close.idxmax()
print(greatest_stock, avg_close[greatest_stock])

GOOG 900.2986702236421

In [ ]:
# Other challenge

amzn['high'] - amzn['low'].max()

0      -2624.2808
1      -2624.4892
2      -2624.5100
3      -2624.6142
4      -2624.8117
          ...
5802     -96.2600
5803       0.1700
5804      96.0900
5805      45.1200
5806      -4.7800
Name: high, Length: 5807, dtype: float64